html{
    height: 100%;
    margin: 0;
}

body { 
    font-family: Roboto, sans-serif; 
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background: #474747;
}

#main {
    display: flex;    
    height: 100%;
    box-sizing: border-box;
    align-items: stretch;
    overflow: auto;
}

#header {
    flex: 0 1 auto;
    display:flex;
    background: #616161;
    color: #fcfcfc;
}
#profile{
    padding-right: 10px;
    padding-left: 10px;
}

#settings {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
}

#sidebar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: solid #666666 1px;
    background: #474747;
    color: #fcfcfc;
    overflow-wrap: break-word;
}

#sidebar > h1 {
    text-align: center;
    padding-top: 20px;
    margin: 0;
}
#sidebar > ul > li {
    text-align: right;
    list-style-type: none; 
    margin: auto; 
    padding-left: 10px; 
    padding-right: 10px;
}

#form { 
    flex: 0 0 8%;
    display: flex;
    padding: 0.25rem; 
    bottom: 0; 
    left: 0;
    right: 0; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#input {
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    border: solid #666666 1px;
    margin: 0.25rem; 
    background: #474747;
    color: #fcfcfc;
    text-align: right;
}

#input:focus {
    outline: none; 
}

#form > button {
    background: #6699ff;
    flex: 0 0 3rem; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fcfcfc; 
}

#content-container {
    flex: 1 1 auto;
    width: 85%;
    display: flex;
    flex-flow: column;    
    box-sizing: border-box;
    overflow-y: hidden;
}

#messages-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;    
    box-sizing: border-box;
    overflow-y: auto;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    flex: 1 1 auto;
    padding-left: 10px; 
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

#messages > li { 
    background: #808080;
    color: #fcfcfc; 
    align-self: flex-start;
    padding: 10px 10px 10px 10px;
    border-radius: 25px 25px 25px 0px;
    margin-top: 15x;
    margin-bottom: 15px;
    max-width: 60%;
    width: max-content;
    overflow-wrap: break-word;
}

#messages > li.notification {
    background: none;
    color:#cccccc;
    width: max-content;
    align-self: center;
    margin-top: 0px;
}

#messages > li.private {
    background: #ff704d;
}

#messages > li.own {
    background: #6699ff;
    align-self: flex-end;
    border-radius: 25px 25px 0px 25px;
}