html{
    height: 100%;
    margin: 0;
}

body { 
    font-family: Roboto, sans-serif; 
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background: #474747;
    color: #fcfcfc;
}

#main {
    display: flex;    
    height: 100%;
    box-sizing: border-box;
    align-items: stretch;
    overflow: auto;
}

#header {
    flex: 0 1 auto;
    display:flex;
    background: #616161;
    color: #fcfcfc;
}
#profile{
    padding-right: 10px;
    padding-left: 10px;
}

#settings {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    #sidebar {
        flex: 1 1 auto;
        display: none;
        flex-direction: column;
        width: 20%;
        border-right: solid #666666 1px;
        background: #fcfcfc;
        color: #fcfcfc;
        overflow-wrap: break-word;
    }
}
@media screen and (min-width: 900px) {
    #sidebar {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 20%;
        border-right: solid #666666 1px;
        background: #474747;
        color: #fcfcfc;
        overflow-wrap: break-word;
    }
}

#sidebar > h1 {
    text-align: center;
    padding-top: 20px;
    margin: 0;
}
#sidebar > ul > li {
    text-align: right;
    list-style-type: none; 
    margin: auto; 
    padding-left: 10px; 
    padding-right: 10px;
}

#form-container { 
    flex: 0 0 20%;
    flex-flow: column;
    padding: 0.25rem; 
}

#private-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

#private-container > #private {
    background: #ff704d;
    flex: 0 0 1rem;
    height: 30%;
    border: none; 
    padding: 0 1rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fcfcfc; 
    font-size: 20px;
}

#private-container > #private-recipient-name {
    display: none;
    padding-left: 15px;
    margin: 0;
}

#private-container > #clear-private {
    background: #6699ff;
    flex: 0 0 1rem;
    height: 30%;
    margin-left: auto;
    border: none; 
    padding: 0 1rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fcfcfc; 
    font-size: 20px;
    display: none;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
.modal-content {
    background-color: #474747;
    color: #fcfcfc;
    align-self: center;
    margin: auto;
    padding: 20px;
    width: 80%;
    font-size: 20px;
    text-align: center;
}

.modal-content > ul {
    list-style-type: none;
    text-align: left;
}

.modal-content > ul > li{
    padding-top: 5px;
}

.modal-content > ul > li:hover{
    cursor: pointer;
}

#form { 
    flex: 1 1 80%;
    display: flex;
    height: 70%; 
}

#input {
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    border: solid #666666 1px;
    margin: 0.25rem; 
    background: #474747;
    color: #fcfcfc;
    text-align: right;
    font-size: 20px;
}

#input:focus {
    outline: none; 
}

#form > button {
    background: #6699ff;
    flex: 0 0 1rem; 
    border: none; 
    padding: 0 1rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fcfcfc; 
    font-size: 20px;
}


#content-container {
    flex: 1 1 auto;
    width: 80%;
    display: flex;
    flex-flow: column;    
    box-sizing: border-box;
    overflow: hidden;
}

#messages-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;    
    box-sizing: border-box;
    overflow-y: auto;
}

#messages { 
    color: #fcfcfc; 
    list-style-type: none; 
    margin: 0; 
    flex: 1 1 auto;
    padding-left: 10px; 
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#messages > li { 
    max-width: 60%;
    overflow-wrap: break-word;
}

#messages > li.content{ 
    align-self: flex-start;
}

#messages > li.notification {
    align-self: center;
    margin-top: 0px;
}

#messages > li.own {
    align-self: flex-end;
}

#messages > li.typing {
    align-self: center;
    margin-top: 0px;
}

#messages > li > div.sender{
    text-align: left;
    font-weight: 100;
    font-size: 15px;
    padding-bottom: 5px;
}

#messages > li > div { 
    overflow-wrap: break-word;
    max-width: max-content;
}

#messages > li > div.content{ 
    background: #808080;
    padding: 10px 10px 10px 10px;
    border-radius: 25px 25px 25px 0px;
    margin-top: 15x;
    margin-bottom: 15px;
}
#messages > li > div.notification {
    background: none;
    color:#cccccc;
}

#messages > li > div.private {
    background: #ff704d;
}

#messages > li > div.own {
    background: #6699ff;
    border-radius: 25px 25px 0px 25px;
}

#messages > li > div.typing {
    background: none;
    color:#cccccc;
}